@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Cormorant Garamond", serif;
}

body {
  font-family: "Roboto", sans-serif;
}

.height-minus-nav {
  height: calc(100vh - 80px);
}

.bg-quiz {
  background-image: url("/blurry-white-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
