.svg-fill-orange {
  fill: #dd8547;
}
.svg-fill-teal {
  fill: #3c79a1;
}
.svg-fill-lime {
  fill: #608310;
}
.svg-fill-indigo {
  fill: #654564;
}
.svg-fill-pink {
  fill: #9d1765;
}
.svg-fill-purple {
  fill: #581c87;
}

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-block-start: 10px;
  height: 2rem;
  width: 2rem;
  background: #ff5533;
  color: #fff;
  border-radius: 100%;
  border: 0;
}
