.svg-fill-orange {
  fill: #3498db;
}
.svg-fill-teal {
  fill: #85c1e9;
}
.svg-fill-lime {
  fill: #283747;
}
.svg-fill-indigo {
  fill: #2874a6;
}
.svg-fill-pink {
  fill: #17202a;
}
.svg-fill-purple {
  fill: #154360;
}
