.svg-fill-orange {
  fill: #dd8547;
}
.svg-fill-teal {
  fill: #3c79a1;
}
.svg-fill-lime {
  fill: #4d7c0f;
}
.svg-fill-indigo {
  fill: #654564;
}
.svg-fill-pink {
  fill: #9d174d;
}
.svg-fill-purple {
  fill: #581c87;
}
